<div id="articles">

<h1>NPR Articles</h1>

<button class="get-new-articles">
  Refresh Articles
</button>

<ul>
  {{#each articles}}
  <li>
    <a href={{this.link}}>
      {{this.title}}
    </a>
    <p>
      {{this.synopsis}}
    </p>
  </li>
  
	<button class="get-note-button" data-id="{{id}}">
		Note
	</button>
  {{/each}}
</ul>

</div>

<div id="notes">

</div>